{% if menu %}
	{% if items %}
		<ul class="menu-submenu">
			{% for item in items %}
				<li class="{{ item.classes | join(' ') }}">
					<a target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
					{# {% include "submenu.twig" with {'items': item.children} %}</li> #}
				</li>
			{% endfor %}
		</ul>
	{% endif %}
{% endif %}
